{%extends 'base.html'%}
{% import 'macros.html' as macro%}
<!-- Styles block -->
{% block stules %}
	{{ super() }}
	<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/index.css')}} ">
{% endblock %}
<!-- Conten block -->
{%block content%}

        <!-- Popular movie -->
        <h3> Popular Movies</h3>
        <ul>
            {{ macro.displayMovieList(popular)}}
        </ul>
        <!-- Upcoming movie  -->
        <h3> Upcoming Movies </h3>
        <ul>
            {{ macro.displayMovieList(upcoming)}}
        </ul>
        <!-- Now showing movie -->
        <h3>Now Showing</h3>
        <ul>
            {{ macro.displayMovieList(now_showing)}}
        </ul>
{%endblock%}
